body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 0px;
    background-color: rgb(219,220,225);
    font-family: 'Inter', sans-serif;
}
.cursor{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
   background-color: yellow;
    clip-path: polygon(50% 1, 100% 50%, 50% 100%, 1 50%);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.65, 0.82, 0.465, 1) 0.2s;
   mix-blend-mode:difference;

}
header{
    position: sticky;
    top:0.3rem;
    z-index: 1000;
    margin-top: 3rem;
    transition: 2s;
  height: max-content;
    width: 80rem;
    padding: 0.5rem;
    border-radius: 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255,255,255);
    box-shadow:  9px -9px 18px #c4c4c4,
    -9px 9px 8px #acacac;
}
.logo {
    border-radius: 0.5rem;
    background-color: rgb(219, 220, 225);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden; 
}

.logo1 {
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: black;
    color: aliceblue;
}

 .logo2{
    font-size: 1.2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    padding: 0rem  1rem;
}
.navoption{
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    padding: 1rem;
    transition: 500ms;
}

.navoption:hover {
    transition: 500ms;
   background-color:rgb(218, 218, 218);
    color: white;
   
}

.navactive{
    background-color:rgb(158, 158, 158);
    color: white;
}

.header_icon{

    width: max-content;
    margin-right: 2rem;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow:  0px 0px 20px #000000,
    0px 0px 20px #000000;}
    .header_icon i{
        padding: 0.2rem;
    }
#modeactive{
    display:none;
}
.Download{
    margin: 2rem;
    width: max-content;
    transition: 200ms;
    box-shadow:  9px -9px 18px #ffffff,
    -10px 18px 10px #686868;
}
.Download:hover{
transition: 200ms;
    box-shadow:  9px -9px 18px #ffffff,
    -10px 5px 10px #ffffff;
}
.Download i{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.Download a{
    font-weight: 600;
    font-size: 1.2rem;
text-decoration: none;
border: 2px solid  rgb(255, 255, 255);
background:rgb(24,66,181);
padding:0.5rem;
border-radius: 1rem;
color: rgb(255, 255, 255);
transition: 500ms;
}
.Download a:hover{
    transition: 300ms;
    background-color: rgb(167, 171, 184);
    border: 2px solid  rgb(255, 255, 255);
    i{
        color: rgb(24,66,181);
    }
}
.card{
  
    width: 20rem;
    height: 70vh;
    perspective: 1000px;
}

.profile{
    box-shadow:  9px -9px 18px #c4c4c4,
    -9px 9px 8px #acacac;
    border-radius: 10%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color:white;
  
}
.cardinner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transition: 0.5s; 
    transform: rotateY(-10deg);
}
.card:hover .cardinner {
    transform: rotateY(170deg);
}
.profile,.profileback{
    width: 100%;
    height: 100%;
position: absolute;
backface-visibility: hidden;
 }
 .profileback{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color:rgb(219,220,225);
    transform: rotateY(180deg); 
    box-shadow:  9px -9px 18px #c4c4c4,
    -9px 9px 8px #acacac;
    border-radius: 10%;
 }
.profile_pic,.profile_pic_back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
    background-color:rgb(219,220,225);
    overflow: hidden;
}
.profile_pic_back{
    background-color:white ;
}
.profile_pic img,.profile_pic_back img{
    margin-right: -10px;
   height: 20rem;
   transform: scale(1.1);
}

.profile_text{
    font-weight: 500;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_button{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Hireme , .How_i_work{
    font-size: 1rem;
    padding:0.5rem 1rem ;
    width: max-content;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: 3px solid black;
    border-radius: 2rem;
}
.intro{
    width: 40rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.typedjs{
    display: flex;
    font-size: 2rem;
    color:rgb(24,66,181);
}
.introname{
    font-size: 3rem;
}
main{
    transition: 4s;
    position: static;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 80rem;
    
}
.mainright{
    transition: 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainright_text{
    margin-top: 2rem;
    font-size: 1rem;
}
.links{
    
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 2rem;
    font-size: 1.4rem;
}
.links a{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) ;
    color:rgb(24,66,181);
    border-radius: 50%;
    padding:0.7rem 1rem;
    box-shadow:  9px -9px 18px #c4c4c4,
    -9px 9px 8px #898989;
    transition: 1s;
}
.links a:hover{
   background-color: rgb(24,66,181);
   color:rgb(219,220,225);
   transition: 1s;
}
.menu{
   width: 99%;
    display: none;
    font-size: 3rem;
    background-color: rgb(255,255,255);
    box-shadow: 1rem 1rem 1rem black
    1rem 1rem 1rem black;
}
.bars,.cross{
    display: none;
}
.Achievements{
 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 3px solid rgb(248, 248, 248);
    border-bottom: 3px solid rgb(248, 248, 248);
    margin: 5rem 0rem 2rem 0rem;
    padding-bottom: 5rem;
    background-color: #000000;
}
.Achievements_section{
    transition: 4s; 
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Achievements_title{
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color: white;
}
.OsmHackfest{
    margin-top:2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OsmHackfest_pic {
width: 20rem;
height: 16rem;
overflow: hidden;
border-radius: 2rem;
}
.OsmHackfest_pic img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    }
.OsmText{
width: 30rem;
}
    .line {
        width: 17rem;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.822);
      }
.Experiences_title{
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    font-size: 5rem;
        color:rgb(219,220,225);
    }
    .Experiences_projects{
        transition: 2s; 
        background-color:rgb(0, 0, 0);
        padding: 2rem 0rem ;
        border-bottom: 3px solid rgb(248, 248, 248);
        width:100% ;
    }
    .Experiences{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .ExperiencesSlider{
        border-radius: 1rem;
        margin-top: 2rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20rem;
        width: 90%;
    }
    .HTML{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .HTML:hover{
        transition: 500ms;
 transform: scale(1.1); 
}
    .HTML_skill{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .html_container{
        border-radius: 1rem;
        display: flex;
        width: 20rem;
        height: 1rem;
        background-color: rgb(255, 255, 255);
    }
    .linee ,.linee_css,.linee_js,.linee_React,.linee_Angular,.linee_Tailwind{
        border-radius: 1rem;
        background-color: rgb(24, 66, 181);}
        .linee {
        animation: maybe 20s forwards infinite; 
    }

    @keyframes maybe {
        
        0% {
            width: 0%;
        }
        50% {
            width: 90%;
        }
        100% {
            width: 90%;
        }
    }
    .linee_Angular{
        animation: maybeangular 20s forwards infinite; 
    }
    @keyframes maybeangular {
        0% {
            width: 0%;
        }
        50%{
            width: 40%; 
        }
        100% {
            width: 40%;
        }
    }
    .linee_React{
        animation: maybereact 20s forwards infinite; 
    }
    @keyframes maybereact {
        0% {
            width: 0%;
        }
        50% {
            width: 60%;
        }
        100% {
            width: 60%;
        }
    }
    .linee_js,.linee_Tailwind{
        animation: maybejs 20s forwards infinite; 
    }
    @keyframes maybejs {
        0% {
            width: 0%;
        }
        50% {
            width: 70%;
        }
        100% {
            width: 70%;
        }
    }
    .linee_css{
        animation: maybecss 20s forwards infinite; 
    }
    @keyframes maybecss {
        0% {
            width: 0%;
        }
        50% {
            width: 80%;
        }
        100% {
            width: 80%;
        }
    }

    .ExperiencesSlider_card div{
        padding: 1rem;
        border-radius: 3rem;
         box-shadow:  9px -9px 18px #414141,
    -9px 9px 8px #5a5959;
        color: aliceblue;
        object-fit: cover;
        margin:0rem 1rem;
        width: 25rem;
        height: 14rem;
        transition: 500ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
 .card1 div{
    background: url(https://imgs.search.brave.com/dT7kUDxXbLmX8tL6jazh-BDbKchkxnlQb5v_P4ycrew/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2FuaXR5LmlvL2lt/YWdlcy9vcmRnaWt3/ZS9wcm9kdWN0aW9u/LzUwODM0ODNjNmQ4/NDI0ZjNhYmQzODZh/YmExZDRkNGEzODU0/ZDFkOWMtODAweDYw/MC5wbmc_dz04MDAm/aD02MDAmYXV0bz1m/b3JtYXQ);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .card2 div{
    background: url(Ecommerce.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

 }
 .card3 div{
    background: url(https://imgs.search.brave.com/woBl1lV2xE3rH7FrUg8Mz9jEYORJgKlJ8ZP2BfAF36E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9odG1sLXN5c3Rl/bS13ZWJzaXRlcy1j/b25jZXB0XzIzLTIx/NTAzMjM1NTIuanBn/P3NpemU9NjI2JmV4/dD1qcGc);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .card4 div{
    background: url(https://imgs.search.brave.com/59g3C3zC438KtCJ9WS0htYcF6BY8luZy7ggEVzXsjRE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/ZHJpYmJibGUuY29t/L3VzZXJ1cGxvYWQv/MTAxMTMyODAvZmls/ZS9zdGlsbC04MWQ4/Yzg5ODJkNDM0NmIw/ZDM4OTUzMTRjY2Qx/ODk4Ni5wbmc_cmVz/aXplPTQwMHgzMDAm/dmVydGljYWw9Y2Vu/dGVy);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .card5 div{
    background: url(https://imgs.search.brave.com/68qtGVy6xiKKKCrXvd_Ou9zOB6pa8Da5h_MpUnfuYP8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuYWxvdC5jb20v/YXNzZXRzL2NvbW1v/bi9lbnRlcnRhaW5t/ZW50L3UxMDQ4OV82/MDJ4MzEyLmpwZw);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
.card6 div{
    background:url(https://imgs.search.brave.com/8AGjOg9gKER29fG29VAcLaQbFSCbN6w1nxB6bDjOO3I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91aXph/cmQuaW8vc3RhdGlj/LzFkOGNhZWMwYzVi/ZTYzOTZmNjlkNjE3/ZDMwYmQ0YjE4L2Q5/YmRmL3RvLWRvLXdl/Yi1hcHAtdXBjb21p/bmcucG5n) ;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ExperiencesSlider_card{
        transition: 500ms;
    }
  .ExperiencesSlider_card a{
    border-radius:1rem ;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color:rgb(24,66,181);
    text-decoration: none;
  }  
  .ExperiencesSlider_card a:hover{
    transition: 900ms;
    background-color: white;
    color:rgb(24,66,181);
   
  }
.ESC_top{
    padding: 0.2rem;
    border-radius: 1rem;
    color:rgb(24,66,181);
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
}
.ESC_Description{
    font-size: 1rem;
    font-weight: 600;
}
.Skills{
    transition:2s; 
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 5rem;
    background-color:rgb(219,220,225);
}
.skills_text{
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}
.skills_main{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.skills_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills_title{
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
.Experiences_title{
    font-weight: 700;
    font-size: 2rem;
}
.CMDetails{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_me{
    transition:2s; 
overflow: hidden;
    height: 32rem;
    width: 100%;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hidden{
    transition: 500ms;  
    opacity: 0;
    transform: translateX(5rem) ;
  }
  .hiddenn{
    transition: 500s;  
    opacity: 0;
    transform: translateY(4rem) ;
  }
.CMDD_Name{
    padding: 0.5rem;
    font-size: 1rem;
}
.CMDD_q{
    color: #5f5f5f;
}
.CMDD_q i{
    margin-right: 0.5rem;
}
.CMDD_a{
    font-weight: 700;
    font-size: 1.2rem;
}
.CMtitle{
    padding: 1rem;
    font-family:'Silkscreen', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}
.CMD_map {
    filter: blur(0.8px);
    height:100%;
    width: 60%;
    transition: 500ms;
}
.CMD_map:hover {
    transition: 500ms;
    filter: blur(0px);
}
.map{
    width: 100%;
    height: 90%;
}
.map_section {
    height: 100%;
    width: 100%;
}
footer{
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}
.end{
    margin: 20px;
    font-size: medium;
}
.goto_top{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    bottom: 10px;
   right: 10px;
   font-size: 0.8rem;
   font-family:'Silkscreen', sans-serif;
}
.goto_top i{
    color: #000000;
    font-size: 2.3rem;
  
}
@media screen and (max-width: 1300px) {
    .contact_me{
        height: 65rem;
    }
    .CMD_map{
        height: 100%;
        width:100%;
    }
    .CMDetails{
        display: flex;
        flex-direction: column;
    }
    .skills_text,.skills_content{
        width: 100%;
    }
    .skills_main{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
    .activemenu{
        display: flex;
    }
    header{
        margin:0rem ;
        width: 90%;
    display: none;
    flex-direction: column;
    }
    .logo{
        display: none;
    }
    .menu_icon{
        font-size: 2rem;
        display: flex;
    }
    .navoption{
        width: 80%;
       
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    .card{
     margin-top:2rem;
    }

.profile,.profileback{
    font-size: 0.8rem;
    padding: 2px;
}
.mainright{
    padding-left: 1rem;
}
.Achievements_title{
    font-size: 3.5rem;
}
.Achievements_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OsmHackfest{
    margin-top:2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OsmText{
    width: 90%;
    }
        .line {
            width:  4px;
            height:4rem;
            background-color: rgba(255, 255, 255, 0.822);
          }
.ExperiencesSlider_card div{
    width: 15rem;
          }
.Experiences_title{
            font-weight: 700;
            font-size: 2rem;
        }
}
@media screen and (max-width: 700px) {
    .intro{
        width: 100%;
       }
     .links{
        width: 100%;
     }  
     .Achievements_title{
        font-size: 2.5rem;
    }

}